* {
    margin: 0;
    padding: 0;
}

#main-container {
    display: grid;
    grid-template-columns: minmax(200px,300px) 3fr;
    width: 100%;
    height: 100vh;
}

#sidebar {
    background-color: aqua;
}

#content {
    background-color: pink;
}